/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 janv. 2015, 18:47:01
    Author     : alequoy
https://github.com/file-icons/MFixx
*/


@font-face {
    font-family: 'MFixx';
    src: url('../fonts/MFixx.eot'); /* IE9 Compat Modes */
    src: url('../fonts/MFixx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/MFixx.woff') format('woff'), /* Modern Browsers */
        url('../fonts/MFixx.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/MFixx.svg#svgFontName') format('svg'); /* Legacy iOS */
}


.geek
{
    font-family: "MFixx";
}



.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #3071a9;
    color:#fff;
}

body { padding-bottom: 70px;padding-top: 60px; font-size:12px}


.pmacontrol {width:100%; }

.pmacontrol > tbody > tr > th {padding: 2px 4px; border-bottom: #666 1px solid; line-height:30px; background:#fff }
.pmacontrol > tbody > tr > td {padding: 2px 4px; cursor: pointer; }
.pmacontrol > tbody > tr.highlight_row {border: #666 1px solid ;}

.pmacontrol > tbody > tr:nth-child(odd){
    background-color:#f5f5f5;
}

.highlight_row td{background-color: #ddd;}

.rotate {
    margin: 0;
    padding: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



.opacity {
    position: absolute;
    top: 0;left:0;
    width: 100%;height: 100%;
    background:rgba(0,0,0,.5);
    z-index:1;
}

.opacity { 
    opacity : .9;
    z-index: 999999;
}

#domMessage
{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0px;
    left:0;
    border: none; 
    backgroundColor: #000; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    opacity: .6; 
    color: #000 
}


a img {
    border: 0px none;
}

.icon {
    margin: 0px 0px 0px 0.3em;
    padding: 0px !important;
    width: 16px;
    height: 16px;
    background-image: url("../image/main/sprites.png") !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
}


.ic_b_relations {
    background-position: 0px -752px !important;
}


.row input {margin:2px 0}
.row select {margin:2px 0}


span.ariane .glyphicon {font-size:12px}
span.ariane .fa {font-size:14px}



/* ---------------------------------------------------

Project : CSS Checkbox Switch
Author : Partha Kar (https://www.facebook.com/partha.creativemind)
Version : 1.0
Release Dtae : 15 November, 2017

---------------------------------------------------- */


.checkbox.checbox-switch {
    padding-left: 0;
}

.checkbox.checbox-switch label,
.checkbox-inline.checbox-switch {
    display: inline-block;
    position: relative;
    padding-left: 0;
}
.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}
.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.checkbox.checbox-switch label span:before,
.checkbox-inline.checbox-switch span:before {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgb(255,255,255);
    content: " ";
    top: 0;
    position: relative;
    left: 0;
    transition: all 0.3s ease;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}
.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Default */
.checkbox.checbox-switch label > input:checked + span,
.checkbox-inline.checbox-switch > input:checked + span {
    background-color: rgb(180, 182, 183);
    border-color: rgb(180, 182, 183);
    box-shadow: rgb(180, 182, 183) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:checked:disabled + span,
.checkbox-inline.checbox-switch > input:checked:disabled + span {
    background-color: rgb(220, 220, 220);
    border-color: rgb(220, 220, 220);
    box-shadow: rgb(220, 220, 220) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch label > input:disabled + span,
.checkbox-inline.checbox-switch > input:disabled + span {
    background-color: rgb(232,235,238);
    border-color: rgb(255,255,255);
}
.checkbox.checbox-switch label > input:disabled + span:before,
.checkbox-inline.checbox-switch > input:disabled + span:before {
    background-color: rgb(248,249,250);
    border-color: rgb(243, 243, 243);
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

/* Switch Light */
.checkbox.checbox-switch.switch-light label > input:checked + span,
.checkbox-inline.checbox-switch.switch-light > input:checked + span {
    background-color: rgb(248,249,250);
    border-color: rgb(248,249,250);
    box-shadow: rgb(248,249,250) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Dark */
.checkbox.checbox-switch.switch-dark label > input:checked + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked + span {
    background-color: rgb(52,58,64);
    border-color: rgb(52,58,64);
    box-shadow: rgb(52,58,64) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-dark label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-dark > input:checked:disabled + span {
    background-color: rgb(100, 102, 104);
    border-color: rgb(100, 102, 104);
    box-shadow: rgb(100, 102, 104) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Success */
.checkbox.checbox-switch.switch-success label > input:checked + span,
.checkbox-inline.checbox-switch.switch-success > input:checked + span {
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
    box-shadow: rgb(40, 167, 69) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-success label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-success > input:checked:disabled + span {
    background-color: rgb(153, 217, 168);
    border-color: rgb(153, 217, 168);
    box-shadow: rgb(153, 217, 168) 0px 0px 0px 8px inset;
}

/* Switch Danger */
.checkbox.checbox-switch.switch-danger label > input:checked + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked + span {
    background-color: rgb(200, 35, 51);
    border-color: rgb(200, 35, 51);
    box-shadow: rgb(200, 35, 51) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-danger label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-danger > input:checked:disabled + span {
    background-color: rgb(216, 119, 129);
    border-color: rgb(216, 119, 129);
    box-shadow: rgb(216, 119, 129) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(109, 163, 221);
    border-color: rgb(109, 163, 221);
    box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Info */
.checkbox.checbox-switch.switch-info label > input:checked + span,
.checkbox-inline.checbox-switch.switch-info > input:checked + span {
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    box-shadow: rgb(23, 162, 184) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
    background-color: rgb(102, 192, 206);
    border-color: rgb(102, 192, 206);
    box-shadow: rgb(102, 192, 206) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/* Switch Warning */
.checkbox.checbox-switch.switch-warning label > input:checked + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked + span {
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
    box-shadow: rgb(255, 193, 7) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}
.checkbox.checbox-switch.switch-warning label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-warning > input:checked:disabled + span {
    background-color: rgb(226, 195, 102);
    border-color: rgb(226, 195, 102);
    box-shadow: rgb(226, 195, 102) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}


.panel .well{
    margin-bottom: 0px;
    border-width: 0px;
}


div.pre pre{width:400px; overflow: auto; font-size: 12px}





td.pma a, tr.pma td a{color:#fff;}
td.pma-default {background:#ffffff !important; color:#000}
td.pma-primary {background:#337ab7 !important; color:#fff}
td.pma-success {background:#449d44 !important; color:#fff}
td.pma-info {background:#5bc0de !important; color:#fff}
td.pma-warning {background:#f0ad4e !important; color:#fff}
td.pma-danger {background:#c9302c !important; color:#fff}
td.pma-grey {background:#e2e2e2 !important; color:#000; border:#fff 1px solid !important;}



tr.pma-default td{background:#ffffff !important; color:#000}
tr.pma-primary td{background:#337ab7 !important; color:#000}
tr.pma-success td{background:#449d44 !important; color:#000}
tr.pma-info td{background:#5bc0de !important; color:#000}
tr.pma-warning td{background:#f0ad4e !important; color:#000}
tr.pma-danger td{background:#c9302c !important; color:#000}


tr.pma-grey td{background:#bebebe !important; color:#000}


tr.pma-success td a{ color:#eee; text-decoration: underline;}
tr.pma-success td .text-muted{ color:#ddd;}


.tooltip-inner{text-align: left;}


.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #eee !important;
}



/*
.text{
        color: rgba(0,0,0,.9);
        text-align: center;
}*/


.folded-corner:hover .text{
    visibility: visible;
    color: #ccc;
}


.folded-corner:hover h3{
    visibility: visible;
    color: #fff;
} 
.Services-tab{
    margin-top:20px;


}

/*
  nav link items
*/
.folded-corner{
    padding: 25px 25px;
    position: relative;


    background: transparent;
    transition: all ease .5s;
    border: 1px solid rgba(0,0,0,.9);
}
.folded-corner:hover, .folded-corner:hover td a{
    background-color: rgba(0,0,0,.9);
    color: #f5f5f5;

}

.folded-corner:hover th, .folded-corner:hover td
{
    background-color: rgba(0,0,0,.8);
}

.folded-corner td a
{
    text-decoration: underline;
}

.folded-corner td a:hover
{
    text-decoration: none;
}



/*
  paper fold corner
*/

.folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
}

/*
  on li hover make paper fold larger
*/
.folded-corner:hover:before {
    background-color: #fff;
    border-width: 0 50px 50px 0;
    border-color: #ccc #fff;

}

.service_tab_1{
    background-color: #f5f5f5;
}
.service_tab_1:hover .fa-icon-image{
    color: #f5f5f5;
    transform: rotate(360deg) scale(1.2);
}




.fa-icon-image{
    color: rgba(0,0,0,.9);
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}

ul.padnull{padding-left:0}


td.line-edit{ligne-height:50px; }



/** myxplain **/


.command-shell
{
    background:#30383d;
    color:#fff;
    padding:10px;
    font-family: Courier;
    font-size: 15px;
    border-radius: 10px;
}


.command-shell a
{

    color:#fff;
    font-weight:700;
    text-decoration: underline;
}
.command-shell a:hover
{

    text-decoration: none;
}


.command-shell pre
{
    background: unset;
    color: unset;
    border:unset;
    font-size: 15px;
}


/***************** php live regex ***/


.ref{
    font: normal normal 12px/18px Consolas, Monaco, Andale Mono, Courier New, monospace;  
    color: #333;
}

/* reset default styles for these elements */
.ref i,
.ref span,
.ref a{
    font-style: inherit;  
    font-weight: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline;
    text-decoration: inherit;
    white-space: normal;
    background: none;
}

/* meta content (used to generate tooltips) */
.ref > div{
    display: none;  
}

/* show help cursor when mouse is over an entity with a tooltip */
.ref [data-tip]{
    cursor: help;
}

/* pointer if inside a link */
.ref a > [data-tip]{
    cursor: pointer;
}

/* links */
.ref a{
    color: inherit;
    border-bottom: 1px dotted transparent;
    border-color: inherit;
}

/* tooltip; note that the js overrides top/left properties, this is why we use margin  */
#rTip{
    display: none;  
    position: absolute;
    z-index: 99999;  
    font-size: 12px;
    white-space: pre;  
    text-align: left;  
    text-shadow: 0 -1px 0 #191919;  
    line-height: 16px;
    background: #222;
    color: #888;         
    border: 0;  
    border-radius: 4px;
    opacity: 0.90;
    box-shadow:0 0 4px rgba(0,0,0, 0.25);  
    -webkit-transition: opacity .25s, margin .25s;
    -moz-transition: opacity .25s, margin .25s;
    -ms-transition: opacity .25s, margin .25s;
    transition: opacity .25s, margin .25s;
}

#rTip.visible{
    display: table;
    margin: 10px 0 0 15px;  
}

#rTip.visible.fadingOut{
    opacity: 0;
    margin: 20px 0 0 25px;
}

#rTip [data-cell]{
    padding: 2px 7px;
}

#rTip [data-title], #rTip [data-desc]{
    padding: 8px;
    display: block;
    color: #ccc;
}

#rTip [data-desc]{
    padding-top: 0px;  
    color: #777;  
}

#rTip [data-cell][data-varType]{
    padding: 10px;
    background: #333;
    box-shadow: inset -1px 0 0 #444;    
    border-right:1px solid #111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;  
}

#rTip [data-cell][data-sub]{
    padding: 8px 10px 10px 10px;
    background: #333;
    box-shadow: inset 0 1px 0 #444;    
    border-top:1px solid #111;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#rTip [data-table] [data-cell]:first-child{
    font: bold 11px Helvetica, Arial;   
    color: #888;
}

#rTip [data-table] [data-cell]:nth-child(2){
    color: #edd078;
}




/* base entity - can be nested */
.ref span{
    white-space: pre;
    display: inline;
}

/* key-value dividers, property & method modifiers etc. */
.ref i{
    white-space: pre;  
    color: #aaa;
}

/* source expression (input) */
.ref [data-input] > *{
    display: none;
}
.ref [data-input]{
    margin: 2px 0 0;
    padding: 2px 7px 3px 4px;
    display: block;
    color: #ccc;
    background-color: #333;
    background-image: -webkit-linear-gradient(top, #444, #333);  
    background-image: -moz-linear-gradient(top, #444, #333);
    background-image: -ms-linear-gradient(top, #444, #333);
    background-image: linear-gradient(top, #444, #333);  
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #fff;  
}

.ref [data-backtrace]{
    float: right;
}

.ref [data-output]{
    background: #f9f9f9;        
    border: 1px solid #eee;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: inset 0px 4px 4px #f3f3f3, inset 0px -8px 8px #fff;
    padding: 2px 5px;  
    margin: 0 0 4px;
    text-shadow: 0 1px 0 #fff;
    display: block;
}

/* expand/collapse toggle link for groups */
.ref [data-toggle]{
    display: inline-block;
    vertical-align: -3px;
    margin-left: 2px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 0 7px 10px;
    border-color: transparent transparent transparent #8892BF;
    cursor: pointer;
    -webkit-transition: all ease-in .15s;  
    -moz-transition: all ease-in .15s;     
    -ms-transition: all ease-in .15s;          
    transition: all ease-in .15s;    
}

/* collapse graphic */
.ref [data-toggle][data-exp]{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);       
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);  
}

.ref [data-group]{
    display: none;
}

.ref [data-toggle][data-exp] ~ [data-group]{
    display: block;
}

/* group sections */
.ref [data-table]{
    display: table;
}

/* section titles */
.ref [data-tHead]{
    font: bold 11px Helvetica, Arial;
    color: #bcbcbc;
    text-transform: lowercase;
    margin: 12px 0 2px 10px;
    display: block;
}

/* emulate a table for displaying array & object members */
/* section row */
.ref [data-row]{
    display: table-row; 
}

/* zebra-like rows */
.ref [data-output] [data-row]:nth-child(odd){background: #f4f4f4;}
.ref [data-output] [data-row]:nth-child(even){background: #f9f9f9;}

/* section cells */
.ref [data-cell]{
    display: table-cell;
    width: auto;
    vertical-align: top;
    padding: 1px 0 1px 10px;
}

/* last cell of a row (forces table to adjust width like we want to) */
.ref [data-output] [data-table],
.ref [data-output] [data-cell]:last-child{
    width: 100%;
}



/* tag-like appearance for boolean, null and resource types */
.ref [data-true],
.ref [data-false],
.ref [data-null],
.ref [data-unknown],
.ref [data-resource],
.ref [data-match]{
    font: bold 11px Helvetica, Arial; 
    color: #fff;        
    padding: 1px 3px;
    text-transform: lowercase;
    text-shadow: none;
    border-radius: 2px;        
    margin-right: 5px;
    background-color: #eee;  
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);  
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.1) 40%, rgba(0,0,0,0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 40%,rgba(0,0,0,0.1) 100%);
}

/* string matches */
.ref [data-match]{
    background-color: #d78035;
}

/* boolean true */
.ref [data-true]{
    background-color: #339900;
}

/* boolean false */
.ref [data-false]{
    background-color: #8892BF;
    color: #fff;
}   

/* null value */
.ref [data-null],
.ref [data-unknown]{
    background-color: #eee;
    color: #999;
    text-shadow: inherit;
}

/* resources */
.ref [data-resource]{
    background-color: #0057ae;
}

.ref [data-resourceProp]{
    font: bold 11px Helvetica, Arial;   
    color: #999;
}

/* integer or double values */
.ref [data-integer],
.ref [data-double]{
    color: #0099CC;
}   

/* string values */
.ref [data-string]{
    background: #e6e6e6;
    color: #000;  
    padding: 3px 1px;
}

.ref [data-string][data-special]{
    background: none;
    padding: 0;
}

.ref [data-string][data-special] i{
    background: #faf3dc;
    color: #d78035;
}

/* arrays & objects */
.ref [data-array],
.ref [data-array] ~ i,
.ref [data-object],
.ref [data-object] ~ i,
.ref [data-resource] ~ i{
    color:#8892BF;
}

.ref [data-method]{
    font-weight: bold;
    color: #0057ae;
}

.ref [data-const][data-inherited],
.ref [data-prop][data-inherited]{
    color: #999;
}

.ref [data-prop][data-private],
.ref [data-method][data-private]{
    color: #8892BF;
}

/* inherited methods */
.ref [data-method][data-inherited]{
    font-weight: bold;
    color: #6da5de;
}

/* method arguments */
.ref [data-param]{
    font-weight: normal;  
    color: #333;
}

/* optional method arguments */
.ref [data-param][data-optional]{
    font-style: italic;
    font-weight: normal;    
    color: #aaa;
}

/* group info prefix */
.ref [data-gLabel]{
    font: bold 11px Helvetica, Arial;  
    padding: 0 3px;
    color: #333;
}

/* tiny bubbles that indicate visibility info or class features */
.ref [data-mod]{
    font: bold 11px Helvetica, Arial;      
    text-shadow: none;
    color: #fff;            
}

.ref [data-input] [data-mod]{
    color: #444;
}

.ref [data-mod] span{
    display: inline-block;  
    margin: 0 2px;  
    width: 14px;
    height: 14px;
    text-align: center;  
    border-radius: 30px;   
    line-height: 15px;    
}

.ref [data-mod-interface],
.ref [data-mod-abstract]{
    background: #baed78;
}

.ref [data-mod-protected]{
    background: #edd078;
}

.ref [data-mod-private]{
    background: #eea8b9;
}

.ref [data-mod-iterateable]{
    background: #d5dea5;
}

.ref [data-mod-cloneable]{
    background: #bdd7d1;
}

.ref [data-mod-final]{
    background: #78bded;  
}

/* regular expression (colors partially match RegexBuddy and RegexPal) */
.ref [data-regex]{
    font-weight: bold;
    text-shadow: none;
    padding: 1px 0;
    background: #e6e6e6;  
    word-wrap: break-word;
}

/* char class */
.ref [data-regex-chr]{
    background: #ffc080;
    color: #694c07;
}

.ref [data-regex-chr-meta]{background: #e0a060;} /* char class: metasequence */
.ref [data-regex-chr-range]{background: #ffcf9b;} /* char class: range-hyphen */

/* metasequence */
.ref [data-regex-meta]{
    background: #80c0ff;
    color: #105f8c;
} 

/* group: depth 1 */
.ref [data-regex-g1]{
    background: #00c000;
    color: #fff;
}

/* group: depth 2 */
.ref [data-regex-g2]{
    background: #c3e86c;
    color: #648c1c;
}

/* group: depth 3 */
.ref [data-regex-g3]{
    background: #008000;
    color: #fff;
}

/* group: depth 4 */
.ref [data-regex-g4]{
    background: #6dcb99;
    color: #fff;
}

/* group: depth 5 */
.ref [data-regex-g5]{
    background: #00ff00;
    color: #2c8e24;
}


.tab-slave td{
    padding:4px;
    text-align: right
}

.table tr th {background: #ccc; }



/**************************** tab pannel **********************/


.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}


/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
    color: #3c763d;
    background-color: #d6e9c6;
    border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
    color: #3c763d;
    background-color: #fff;
    border-color: #d6e9c6;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
    color: #31708f;
    background-color: #bce8f1;
    border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
    color: #31708f;
    background-color: #fff;
    border-color: #bce8f1;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
    color: #8a6d3b;
    background-color: #faebcc;
    border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
    color: #8a6d3b;
    background-color: #fff;
    border-color: #faebcc;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
    color: #a94442;
    background-color: #ebccd1;
    border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
    color: #a94442;
    background-color: #fff;
    border-color: #ebccd1;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}


/*********************** diff php ****************/


.diff-wrapper.diff {
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0px solid black;
  color: black;
  empty-cells: show;
  width: 100%;
  word-break: break-all;
}
.diff-wrapper.diff th {
  font-weight: 700;
  
}
.diff-wrapper.diff td,
.diff-wrapper.diff th {
  border-collapse: separate;
  border: none;
  padding: 1px 2px;
  background: #fff;
}
.diff-wrapper.diff td a,
.diff-wrapper.diff th a {
  color: #000;
  cursor: inherit;
  pointer-events: none;
}
.diff-wrapper.diff thead th {
  background: #ccc;
  /*border-bottom: 1px solid black;*/
  padding: 4px;
  text-align: left;
}
.diff-wrapper.diff tbody.skipped {
  border-top: 0px solid black;
}


.diff-wrapper.diff tbody.skipped td,
.diff-wrapper.diff tbody.skipped th {
  display: none;
}


.diff-wrapper.diff tbody th {
  background: #eee;
  border-right: 0px solid black;
  text-align: right;
  vertical-align: top;

}
.diff-wrapper.diff tbody th.sign {
  background: #fff;
  border-right: none;
  padding: 1px 0;
  text-align: center;

}
.diff-wrapper.diff tbody th.sign.del {
  background: #ffeef0;
}
.diff-wrapper.diff tbody th.sign.ins {
  background: #e6ffed;
}/*e1fbe1*/

.diff-wrapper.diff.diff-html {
  white-space: pre-wrap;
}

.diff-wrapper.diff.diff-html .change.change-eq .old,
.diff-wrapper.diff.diff-html .change.change-eq .new {
  background: #fff;
}
.diff-wrapper.diff.diff-html .change .old {
  background: #fbe1e1;
}
.diff-wrapper.diff.diff-html .change .new {
  background: #e1fbe1; /**#e1fbe1*/
}
.diff-wrapper.diff.diff-html .change ins,
.diff-wrapper.diff.diff-html .change del {
  font-weight: 700;
  text-decoration: none;
}
.diff-wrapper.diff.diff-html .change ins {
  background: #94f094;
}
.diff-wrapper.diff.diff-html .change del {
  background: #f09494;
}


.diff-wrapper th.n-old{width:4em;font-family: monospace;
  font-size: 13px;}
.diff-wrapper th.n-new{width:4em;font-family: monospace;
  font-size: 13px;}


.diff-wrapper td.new{width:47%;font-family: monospace;
  font-size: 13px;}
.diff-wrapper td.old{width:47%;font-family: monospace;
  font-size: 13px;}




/**********
sql-formater
*/


.sql-keyword{font-weight: 700; color: #00f}
.sql-reserved{font-weight: 700; color: #000}
.sql-variable{color: green}
.sql-string{color: #999}



/* diplsay chartjs as grafana legend */
.graph-legend > td,.graph-legend > th {padding:5px; line-height: 1.5;}

.graph-legend-value, .graph-legend-table td {
    float: none;
    display: table-cell;
    white-space: nowrap;
    padding: 2px 8px;
    padding-left: 10px;
    text-align: right;
    
}

.graph-legend-value {
    padding-left: 15px;
}


.graph-legend-table th {
    text-align: right;
    padding: 0 10px 1px 0;
    font-weight: 700;
    color: #666;
    font-size: 85%;
    white-space: nowrap;
}


.graph-legend-table .graph-legend-alias {
    padding-left: 7px;
    text-align: left;
    width: 95%;
    max-width: 650px;
    text-overflow: ellipsis;
    overflow: hidden;
}


.graph-legend a, .graph-legend td {
    color: #666;
}

.graph-legend a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

tr.graph-underline td {
    background: #eee;
}


.graph-legend tr.fadeout a, .graph-legend tr.fadeout td {
    color: #999;
}

/* menu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #666;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.mpd
{
    background-image: url('../image/main/bg.png');
    background-color: #eee;
    background-repeat: repeat;
    
}


g.node{
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5));
    
}

g.node:hover{
    filter: drop-shadow(4px 4px 8px rgba(0,0,0, 0.9));
}
g.node a:hover{
    text-decoration: none;
}
g.edge{
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

/*
#clust12 > polygon{
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
    background-image: url('../image/main/bg.png');
    background-color: #eee;
    background-repeat: repeat;
}*/


.bench{
    border: #AAAAAA 1px solid;
    padding:5px;
    margin-bottom:20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
    background:#F5F5F5;
}
.bench:hover{
    border: #999999 1px solid;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
    background:#FFFFFF;
}



.grapfh {
    color: white;
    /* display: flex; */
    /* flex-direction: column; */
    gap: 16px;
    /* -webkit-box-align: center;*/
    /* align-items: center; */
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    text-decoration: none;
    background: linear-gradient(236.58deg, rgb(255, 146, 100) -4.19%, rgb(255, 72, 127) 2.7%, rgb(225, 61, 252) 13.86%, rgb(160, 77, 243) 22.94%, rgb(120, 58, 250) 31.2%, rgb(75, 38, 225) 38.48%, rgb(34, 0, 170) 56.54%, rgb(5, 0, 70) 74.02%);
    box-shadow: rgba(236, 66, 162, 0.5) 0px 10px 20px;
    /* border-radius: 10px;*/
}

.arrow-container {
    position: relative;
    height: 34px;
    
}

.arrow-left, .arrow-right, .arrow-left-tail, .arrow-right-tail, .arrow-gg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    background-color: rgb(64,64,64);
}

.arrow-left {
    left: 0;
    border-width: 17px 17px 17px 0;
}

.arrow-left-tail {
    right: 0;
    border-width: 17px 17px 17px 0;
}

.arrow-right {
    right: 0;
    border-width: 17px 0 17px 17px;
}
.arrow-right-tail {
    left: 0;
    border-width: 17px 0 17px 17px;
}

.arrow-gg {
    left: 0;
    border-width: 17px 17px 17px 17px;
    
} 
.box {
    border: 2px solid #0d6efd;
    padding: 38px 0px;
    text-align: center;
    border-radius: 10px;
    background-color: #000;
    font-weight: bold;
    font-size:20px;
    color: #fff;
    font-family: 'Arial', sans-serif;
}
.table tr:nth-child(odd) td{
    background-color: #fff;
  }
  .table tr:nth-child(even) td {
    background-color: #efefef;
  }

  .table tr:hover td {
    background-color: #aaa4ce;
    border:#000 1px 1px;
  }

  .bbcode_quote {
	position: relative; 
	padding: 1rem 1.2rem;
	border: none;
	width: 80%;  /* create space for the quotes */
	color: #000;
	margin: 1rem auto 2rem;
	background:
	linear-gradient(to right, #426c8c 4px, transparent 4px) 0 100%,
	linear-gradient(to left, #426c8c 4px, transparent 4px) 100% 0,
	linear-gradient(to bottom, #426c8c 4px, transparent 4px) 100% 0,
	linear-gradient(to top, #426c8c 4px, transparent 4px) 0 100%;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}



.bbcode_quote .message {
	background: repeating-linear-gradient(45deg, transparent, transparent 10px, #f8f8f8 10px, #f8f8f8 20px);
}

.bbcode_quote:before, .bbcode_quote:after {
	position: absolute;
	color: #426c8c;
	font-size: 34px;
}

.bbcode_quote:before {
	content: "«";
	top: 15px;
	margin-right: -20px;
	right: 100%;
}

.bbcode_quote:after {
	content: "»";
	margin-left: -20px;
	left: 100%;  
	top: auto;
	bottom: 0px;
}

.glial-progress-bar {
    width: 100%;
    height: 8px;
    background-color: #eee;
    border:#000 1px solid;
    overflow: hidden;
    position: relative;
}

.glial-progress {
    height: 100%;
    background: #7F7FFF;
    width: 75%; /* Exemple: 75% d'utilisation de la mémoire */
    transition: width 0.5s ease-in-out;
}
.glial-progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 8px;
}

/*

<div class="bbcode_container">
	<div class="bbcode_quote">
		<div class="quote_container">
			<div class="bbcode_quote_container"></div>
			
				<div class="bbcode_postedby">
					<img src="https://forum.developpez.be/images/misc/quote_icon.png" alt="Citation"> Envoyé par <strong>Taylor Otwell, créateur de Laravel</strong>
					
				</div>
				<div class="message"><br><br>En tant que créateur de Laravel, c’est un grand plaisir de poursuivre le développement d’un framework plébiscité par autant de développeurs et d’entreprises dans le monde. La mission de Laravel a toujours été d’aider les équipes à produire des applications bien conçues et entièrement opérationnelles plus rapidement et en toute confiance. Je suis fier et honoré de voir les solutions incroyables que notre communauté crée chaque jour et d’avoir pu contribuer à leur succès.</div>
			
		</div>
	</div>
</div>






.mpd{
background-color: #3c3c3c;
background-image: linear-gradient(45deg,rgba(0,0,0,.06) 25%,transparent 0),linear-gradient(-45deg,rgba(0,0,0,.06) 25%,transparent 0),linear-gradient(45deg,transparent 75%,rgba(0,0,0,.06) 0),linear-gradient(-45deg,transparent 75%,rgba(0,0,0,.06) 0);
background-size: 50px 50px;
background-position: 0 0,0 25px,25px -25px,-25px 0;
}*/


/*

#010C5E bleu
#C70003 rouge 


*/

.colorpicker:before,
.colorpicker:after {
  display: none !important;
}

.btn-group select {
  cursor: pointer;
  appearance: none;
}
