#glial-title {
font-size: 20px;
margin: 0px 15px 14px 15px;
padding:0;
border-bottom: #666 2px dotted;
font-weight:700;
}

#glial-title  > span{
font-size: 13px;
}

#glial-title > h2 {margin:0; padding:0;}


table.table tr  td{
  background-color: #fff; 
  border: 1px solid #fff !important;
}


table.table tr.alternate:nth-child(even)  td{
  background-color: #eee; 
  border: 1px solid #fff !important;
}




#table > tbody > tr > td > input,#table > tbody > tr > td > select  {margin-bottom:0px}